
.h-banner{
    
    background-image: url(/images/banner/banner1.png);
    width: 1600px;
    height: 808px;
    left: 0px;
    top: 0px;
    
}
.header-title{
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}

.header-paragraph{

    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.header-btn{
    border: none;
    background-color: rgb(228, 155, 21);
    color:rgb(39, 119, 31); 

    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;

   
    font-family: 'Work Sans'; 
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 23px;
    border-radius: 5px;
    

}

